body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.main-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 64px;
    height: 64px;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    margin-bottom: 150px;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 20px;
    background-color: #d5d5d5;
}

.text-white {
    color: white;
}

.error-box {
    color: #f9403a;
    padding: 4px;
    margin: 5px 0;
}


.nav-link-text {
    color: #9d9d9d;
}

.nav-link-text:hover,
.nav-link-text:focus {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

.login-form,
.register-form {
    width: 50%;
    margin-top: 20px;
    min-width: 300px;
}

.form-tag-dd {
    border: 1px solid #bcbcbc;
    padding: 5px 10px;
}

.profile-info
{
    width: 600px;
}