@{
    ViewData["Title"] = "Главная";
}


<div class="row">
    <div class="col-sm-3">
        Левая панель:
        <ul>
            <li>Топ категории</li>
            <li>Под категории</li>
        </ul>
    </div>
    <div class="col-sm-6">
        Основной блок:
        <ul>
            <li>Топ категории</li>
            <li>Недавно просмотренные товары</li>
            <li>Популярные товары</li>
        </ul>
    </div>
    <div class="col-sm-3">
        Правая панель:
        <ul>
            <li>Корзина</li>
            <li>Реклама</li>
            <li>Новости</li>
        </ul>
    </div>
</div>

